.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100%;
}

.page-content {
  margin: 1.5rem 0;
}

body {
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  background-color: #f5f7fb;
}

.card {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
}
/* Landing Page */
.landing {
  position: relative;
  background: url('./assets/img/showcase.jpg') 0% 0% / cover no-repeat;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.x-large {
  font-size: 3rem;
}

.card-body {
  margin: 0;
  padding: 1.5rem 1.5rem;
  position: relative;
}

.card-header {
  padding: 1.0rem 1.5rem;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.7)
      url('./assets/img/loading.gif') center
      no-repeat;
  z-index: 1;
}

.link {
  color: white;
}

/* Specific styles for active links */
.link-active {
  color: black;
  background: orange;
}

.active {
  color: #ffffff;
  font-weight: 600;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.input-icon-addon:last-child {
  left: auto;
  right: 0;
}
